In [157]:
import pandas as pd
import numpy as np

In [158]:
#Load CSV
df = pd.read_csv("WaterUsageSample.csv")
df.shape

(9999, 3)

In [159]:
#Read the header of the dataframe
df.head()

   DepartmentId        Date     Volume
0            17  2017-10-02  46.887036
1            47  2017-10-09   8.889073
2            15  2017-04-17  19.497602
3            38  2017-07-28  96.291533
4            17  2017-06-25  98.615424

In [168]:
#Get unique department ID
depart_id = np.unique(df["DepartmentId"])

#Changing pandas "Date" to datetime format and getting the unique dates
df['Date'] = pd.to_datetime(df['Date'])
months_list = [i.month for i in df['Date']]
dates_uniq = np.unique(df['Date'])

#Sorting df by Date order
df = df.sort_values('Date',ascending=True)

In [129]:
#Task 1: A Daily Consumption, broken down by department and then date

new_df = []
for i in range(len(df)-1):
    if (df.iloc[i,0] == df.iloc[i+1,0]) and (df.iloc[i,1] == df.iloc[i+1,1]):
        volume = df.iloc[i,2] + df.iloc[i+1,2]
        df.drop(df.index[[i+1]])
        dt = df.iloc[i,1]
        depart = df.iloc[i,0]
        d = {'DepartmentId': depart, 'Date': dt, 'Volume': volume}
        new_df.append(d)
        
    elif (df.iloc[i,0] != df.iloc[i+1,0]) and (df.iloc[i,1] != df.iloc[i+1,1]):
        d = {'DepartmentId': df.iloc[i,0], 'Date': df.iloc[i,1], 'Volume': df.iloc[i,2]}
        new_df.append(d)

In [141]:
#New dataframe
#They might be values that might still be sharing dates and department ID,
#re-run similar loop to the one above with new created dataframe to make sure that that no values repeat.
columns = ['DepartmentId', "Date", "Volume"]
df_ = pd.DataFrame(data = new_df, columns = columns)
df_.to_csv("Task1.csv", sep='\t')

In [142]:
# Task 2: An average daily consumption for each month, broken down by department

#loop through each row
for i in range(len(df)-1):
    
    #compare months and save the value of the department, date and volume
    #try to save the volume for each department in different list
    #then later sum all the values for the volumns per department
    #something of this nature will help.
    if df.iloc[i,1].month = 1:
        vol_lst = []
        vol_lst.append(df.iloc[i,2])
        
    elif df.iloc[i,1].month = 2:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
    elif df.iloc[i,1].month = 3:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
    elif df.iloc[i,1].month = 4:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
    elif df.iloc[i,1].month = 5:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
    elif df.iloc[i,1].month = 6:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
    elif df.iloc[i,1].month = 7:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
    elif df.iloc[i,1].month = 8:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
    elif df.iloc[i,1].month = 9:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
    elif df.iloc[i,1].month = 10:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
    elif df.iloc[i,1].month = 11:
        vol_lst = []
        vol_lst.append(df.iloc[i,2]) 
        
        
    elif df.iloc[i,1].month = 12:
        vol_lst = []
        vol_lst.append(df.iloc[i,2])